################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UX/.vs/UX/v15
